form
{
    width: 250px;

    display: flex;
    flex-direction: column;
    margin: 2em auto;
}
form > input, button
{
    margin-bottom: 5px;
    padding: 5px;
}
form > button
{
    width: 40%;
    
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    align-self: center;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
form > button:hover
{
    background-color: antiquewhite;
    color: black;
    box-shadow: 1px 1px 1px black;
}
form > input
{
    border-radius: 5px;
    text-align: center;
}

.error
{
    border: 1.5px solid red;
    margin-left: 2px;
    outline: none;

    transition: border 0.3s ease-in-out;
}
.error-text
{
    color: red;
    font-size: 0.8em;
    margin-bottom: 10px;
}